language: node_js
node_js:
- '0.10'
addons:
  artifacts:
    key:
      secure: B78yxXFB188HA3iy2e6zu6Mbo+e78z9bkQrEBoi5O7e/jsOk/d1TFVBYgkkymn0+mX6l+dJ9gGx9t85pEOiLcA5wFGyrszFTsD330UQKw5U4B81b2y7lhqFZzGccHsc+IQNWsEvNNavbLB7PdmrvBB4P98YZXnoUMRkSMeLH6vM=
    secret:
      secure: jmbhjLShKEnTDXl0gGrmUtK6AjfJEnaObxgiALIbFNPTsrSTn/lxv1lEIi+Uy4vk/xrdYIhQDnrVg7xx4vKA5Yljk/kYJU0ivMPyIYJO3xOSxOAQh3ez07yeoefKw9RalA/EMFZ31F/eiQX3MqEY1qc5e1DO7gIB+RqdeMOflFU=
    bucket: robatron
